body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.login-button {
    background-color: transparent;
    color: grey;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.create-an-acc-button {
    background-color: transparent;
    color: grey;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.alr-acc-button {
    background-color: grey;
    color:  grey;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.subject-titles-button {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    color: #666;
}

.search-bar {
    width: 100%;
    padding-left: 150px;
    padding-right: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    background-color: #D9D9D9;
    color: black;
    border: none;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
}

.warning-text {
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: red;
    font-style: italic;
    margin-top: 10px;
}

.topics-box {
    background-color: lavender;
    font-family: 'Inter', sans-serif;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 800px;
    height: 250px;
    margin: 20px auto 0;
    padding:  20px;
}

.topics-box span {
    padding: 5px;
}

.all-articles-title {
    text-align: left;
}

.subject-titles {
    display: flex;
    justify-content: space-between;
}

.left-align-subject-titles {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: black;
    font: inherit;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.center-align-subject-titles {
    text-align: center;
}

.right-align-subject-titles {
    text-align: right;
}

/* article pages */

.article-preview {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title-and-date {
    display: flex;
    justify-content: start;
    align-items: center;
    width:  100%;
}

.date-text {
    color: grey;
    margin: 0;
    padding-right: 150px;
    white-space: nowrap;
    flex-shrink: 0;
}

.article-title {
    color: grey;
    margin: 0;
    flex:  1;
    font-weight: normal;
    text-align: left;
    padding-left: 150px;
}

.text-preview-container {
  padding: 0 20px;
  width: 90%;
  padding-left: 150px;
  box-sizing: border-box;
  margin-right: auto;
}

.text-preview {
    margin: 5px 0;
    text-align: left;
    font-size: 0.9em;
}

.article-link {
  color: black;
  text-decoration: none;
  margin: 5px 0;
  text-align: left;
  font-size: 0.8em;
  padding-left: 150px;
}

.date-text {
    color: grey;
    margin: 0;
}

.grey-line {
    border: 0.1px solid #BEBEBE;
    margin-top: 20px;
    width: 70%;
}


